.write__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.write__file__input__container {
  display: flex;
  gap: 0.5rem;
}

.write__quill__container {
  height: 300px;
}

.write__quill {
  height: 100%;
}

.write__button__container {
  margin-top: 2rem;
}
