/* Group container */
.group {
  width: 100%;
}

/* Input field */
.group-input {
  color: var(--color-white-2);
  background: transparent;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  border-radius: 4.5rem;
  border: 1px solid var(--color-gray);
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group-input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--white) inset;
  -webkit-text-fill-color: var(--input-color);
}

.input-label {
  color: var(--color-white-2);
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  cursor: text;
}

/* Focus state */
.group-input:focus {
  outline: none;
  border-color: var(--color-gold);
}

/* ERROR CONTAINER */
.error-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.has-error {
  max-height: 50px;
}

.input-error {
  color: var(--error);
  font-size: 0.8rem;
  opacity: 0;
  padding: 0 4px;
  transition:
    opacity 0.2s ease-out,
    padding 0.2s ease-out;
}

.has-error .input-error {
  opacity: 1;
  padding: 4px;
}

/* HINT CONTAINER */
.hint-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.show-hint {
  max-height: 40px;
}

.input-hint {
  color: var(--warning);
  font-size: 0.8rem;
  opacity: 0;
  padding: 0 4px;
  transition:
    opacity 0.2s ease-out,
    padding 0.2s ease-out;
}

.show-hint .input-hint {
  opacity: 1;
  padding: 4px;
}

/* Ensure error takes precedence over hint */
.has-error .hint-container {
  max-height: 0;
}

.has-error .input-hint {
  opacity: 0;
  padding: 0;
}
